./application/configs/application.ini
./bin/
./cache/
./cgi-bin/cgi
./public/compat
./public/css/appdb.min.cgz
./public/css/appdb.min.css
./public/images/appdbimgs.zip
./public/js/Dialog.js
./public/js/appdb.min.js
./public/js/dijit
./public/js/dojo
./public/js/dojox
./public/js/plupload.flash.swf
./public/js/plupload.full.js
./public/js/plupload.silverlight.xap
./public/js/shortcut.js
./public/js/tinymce/
./public/plupload.flash.swf
./public/plupload.silverlight.xap
./public/robots.txt
./public/sitemap.xml
./public/sitemapindex.xml
./storage
./application/appdbapilog.xml
./library/fonts/arial.ttf
./application/appdbcached.log
/public/upload/*
