[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts"
resources.view[] =
resources.multidb.repository.adapter = "PDO_MYSQL"
resources.multidb.repository.dbname = "<Community repository database name>"
resources.multidb.repository.host = "<Community repository database host>"
resources.multidb.repository.username = "<Community repository database username>"
resources.multidb.repository.password = "<Community repository database password>"
resources.db.adapter = "PDO_PGSQL";
resources.db.params.dbname = "<AppDB database name>";
resources.db.params.host = "<AppDB database host>";
resources.db.params.username = "<AppDB database username>";
resources.db.params.password = "<AppDB database password>";
api.latestVersion = "1.0";
api.key = "<AppDB own API Token>";
app.invalid = "36 months";
api.maxkeys = "<Maximum API tokens>";
api.maxnetfilters= "<Maximum netfilters per API token>";
app.useCanonical = '<true: use canonical urls>'
app.useHash = '<true: prefer hashed urls >'
app.enableRepository = '<boolean: Enable software repository module>'
app.commrepoUrl = '<Community software repository url>'
app.commrepoBackendUrl = '<Community software repository backend url>'
app.vmcasterUrl = '<VMCaster backend url>'
app.dashboardUrl = '<AppDB Dashboard url>'
app.authbackend = 'saml'
app.wiki = 'https://wiki.appdb.egi.eu/'
app.voroles = 'manager,expert,deputy,shifter'
saml.profile.allow='https://appdb.egi.eu'
saml.egiaai.entitlements.site='administrator=Site+Administrator;Site+Security+Officer;Site+Operations+Manager;Site+Operations+Deputy+Manager'
saml.egiaai.entitlements.vo='VO MANAGER=admin\nVM OPERATOR=vm_operator\nmember=user'
saml.profile.allow='*'; //Domains to access the profile information
;saml.support.sources='all'//Only allow for debuging
saml.guest.uid='<Provide guest user's EPUID>'
saml.guest.source='<Provide authentication source of guest user>'
saml.guest.vos='<Provide semicolon separated VO names for guest user membership>';
vouser_sync.mode = "zip"
support.singlevmipolicy='<boolean: Enable single vmi policy for vappliances'
support.endorsements.voimagelist='<boolean: Enable fetching VM version endorsements in VO image list editor>'
email.enable='<boolean: Enable email service>'
email.accounts.support.address='<AppDB support email address>'
email.accounts.support.password='<AppDB support email password>'
email.accounts.report.address='<AppDB report email address>'
email.accounts.report.password='<AppDB report email address>'
email.developers='<Comma seperated developer email addresses>'
email.smtp.host='<SMTP host domain>'
email.smtp.port=465
email.smtp.auth='PLAIN'
email.list.ucst='mail1;mail2'
email.list.debug='devmail1;devmail2'
email.list.excluded='invalid@email.com;doesnotexist@email.com'
service.egi.ldap.host='<EGI LDAP Host domain>'
service.egi.ldap.username='<EGI LDAP username>'
service.egi.ldap.password='<EGI LDAP password>'
deploy.instance='<production|development: Current deploy is in production or development instance>'
app.pngfont='wine-tahoma'
app.timezone='UTC';
app.argo_api_key='';
app.argo_api_endpoint='';
app.va_sync_scopes='CommaSepareted,StringOf,Scopes"
infosys.host = "";
infosys.db = "";
infosys.glueVersion = "2.0";
service.cd.enabled = '<true: enable continuous delivery>';
service.cd.endpoint = '<Continuous Delivery remote service url>';

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[api]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts"
resources.view[] =
resources.multidb.repository.adapter = "PDO_MYSQL"
resources.multidb.repository.dbname = "<Community repository database name>"
resources.multidb.repository.host = "<Community repository database host>"
resources.multidb.repository.username = "<Community repository database username>"
resources.multidb.repository.password = "<Community repository database password>"
resources.db.adapter = "PDO_PGSQL";
resources.db.params.dbname = "<AppDB database name>";
resources.db.params.host = "<AppDB database host>";
resources.db.params.username = "<AppDB database username>";
resources.db.params.password = "<AppDB database password>";
api.latestVersion = "1.0";
api.key = "<AppDB own API Token>";
app.invalid = "36 months";
api.maxkeys = "<Maximum API tokens>";
api.maxnetfilters= "<Maximum netfilters per API token>";
app.useCanonical = '<true: use canonical urls>'
app.useHash = '<true: prefer hashed urls >'
app.enableRepository = '<boolean: Enable software repository module>'
app.commrepoUrl = '<Community software repository url>'
app.commrepoBackendUrl = '<Community software repository backend url>'
app.vmcasterUrl = '<VMCaster backend url>'
app.authbackend = 'saml'
saml.profile.allow='https://appdb.egi.eu'
saml.egiaai.entitlements.site='administrator=Site+Administrator;Site+Security+Officer;Site+Operations+Manager;Site+Operations+Deputy+Manager'
saml.egiaai.entitlements.vo='VO MANAGER=admin\nVM OPERATOR=vm_operator\nmember=user'
app.wiki = 'https://wiki.appdb.egi.eu/'
app.voroles = 'manager,expert,deputy,shifter'
vouser_sync.mode = "zip"
support.singlevmipolicy='<boolean: Enable single vmi policy for vappliances'
email.enable='<boolean: Enable email service>'
email.accounts.support.address='<AppDB support email address>'
email.accounts.support.password='<AppDB support email password>'
email.accounts.report.address='<AppDB report email address>'
email.accounts.report.password='<AppDB report email address>'
email.developers='<Comma seperated developer email addresses>'
email.smtp.host='<SMTP host domain>'
email.smtp.port=465
email.smtp.auth='PLAIN'
email.list.ucst='mail1;mail2'
email.list.debug='devmail1;devmail2'
service.egi.ldap.host='<EGI LDAP Host domain>'
service.egi.ldap.username='<EGI LDAP username>'
service.egi.ldap.password='<EGI LDAP password>'
deploy.instance='<production|development: Current deploy is in production or development instance>'
api.netfilters.whitelist='<some_ip>;<some_cidr>;...'
